{% extends "@Tsugi/Page.twig" %}

{% block head %}
    {% for style in styles %}
        <link rel="stylesheet" type="text/css" href="{{style}}"/>
    {% endfor %}
    <script type="text/javascript">
        Array.prototype.sum = function (prop) {
            var total = 0
            for ( var i = 0, _len = this.length; i < _len; i++ ) {
                total += parseInt(this[i][prop]);
            }
            return total;
        }
    </script>
{% endblock %}

{% block content %}
    <h3 id="graphs-title">Course analytics</h3>
    <!--label>Download results:</label>
    <a href="https://srvslscet001.uct.ac.za/optout/downloadsurvey/hGZL0NElBSA=?t=1587385074" target="_blank" class="students_locations"> <i class="fa fa-file-csv"></i> CSV File </a-->
    <br/>
    <section id="graphs" class="result_container"></section>
    <p id="last">&nbsp;</p>
{% endblock %}

{% block footer %}
{% for script in scripts %}
    <script src="{{script}}" type="text/javascript"></script>
{% endfor %}
    <script>
    var data = [];
    $(function() {

        var 
            showState = function(_state, instant) {
                _state = _state || 0;
                instant = instant || false;
                if (instant) {
                    $("#graphs").html(tmpl('tmpl-state', {state: _state, svg: '{{loader_svg}}'}));
                } else {
                    if ($('#state:visible').length) {
                        $('#state').fadeOut(350, function() {
                        showState(_state);
                        });
                    } else {
                        $("#graphs").hide().html(tmpl('tmpl-state', {state: _state, svg: '{{loader_svg}}'})).fadeIn(300);
                    }
                }
            },
            init = function() {
                showState(0, true);
                $.get('{{getUrl}}', function(_data) {
                    data = _data;
                    //console.log(data);
                    if (_data.success == "1") {
                        
                        $('#graphs-title').html('Course analytics for '+ data.title);
                        $("#graphs").html(tmpl('tmpl-graphs', _data));
                        //$("#last").html(tmpl('tmpl-last-saved', {'participants': _data.total, 'updated' : _data.updated }));
                        $("#last").html(tmpl('tmpl-last-saved', {'participants': data.total}));
                        $('.tt').tooltipster({ theme: 'tooltipster-borderless', distance: 0, animationDuration: 200, animation: 'grow'});
                    } else {
                        showState(1);
                    }
                }).fail(function() {
                    showState(2);
                });
            };

        $("#graphs").on("click","#state a", function(event) {
            event.preventDefault();
            init();
        });

        init();
    });
    </script>
    {{ source('tmpl.html', ignore_missing = true) }}
{% endblock %}
