{% extends "@Tsugi/Page.twig" %}

{% block head %}
    {% for style in styles %}
        <link rel="stylesheet" type="text/css" href="{{style}}"/>
    {% endfor %}
    <script type="text/javascript">
        Array.prototype.sum = function (prop) {
            var total = 0
            for ( var i = 0, _len = this.length; i < _len; i++ ) {
                total += parseInt(this[i][prop]);
            }
            return total;
        }
        function formatNumber(num) {
            if (isNaN(num)) {
                return '';
            }
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ')
        }
    </script>
{% endblock %}

{% block content %}
{% if app.tsugi.user.instructor %}
    <div id="graph_container">
        <div id="title">
            <h4>Course Analytics</h4>
        </div>
        <section id="graphs" class="result_container"></section>
        <div id="last">&nbsp;</div>
    </div>
{% else %}
    <h4 style="color:#444">Course analytics are available to site owners and lecturers.</h4>
{% endif %}
{% endblock %}

{% block footer %}
{% if app.tsugi.user.instructor %}
    {% for script in scripts %}
        <script src="{{script}}" type="text/javascript"></script>
    {% endfor %}
    <script>

    var data = [];
    $(function() {

        var 
            showState = function(_state, instant) {
                _state = _state || 0;
                instant = instant || false;
                if (instant) {
                    $("#graphs").html(tmpl('tmpl-state', {state: _state, svg: '{{loader_svg}}'}));
                } else {
                    if ($('#state:visible').length) {
                        $('#state').fadeOut(350, function() {
                        showState(_state);
                        });
                    } else {
                        $("#graphs").hide().html(tmpl('tmpl-state', {state: _state, svg: '{{loader_svg}}'})).fadeIn(300);
                    }
                }
            },
            init = function() {
                showState(0, true);
                $.get('{{getUrl}}', function(_data) {
                    data = _data;
                    $('#title').html(tmpl('tmpl-link', _data));

                    if (_data.success == "1") {
                        var orientation_updated = '';

                        if (_data.orientation.length > 0) {
                            var orientation_updated = new Date(Math.max.apply(null, _data.orientation.map(function(e) {
                                return new Date(e.updated);
                            })));
                        }
                        
                        $("#last").html(tmpl('tmpl-last-saved', {'students': _data.no_students, 'updated' : orientation_updated }));

                        $("#graphs").html(tmpl('tmpl-graphs', _data));
                        $('.tt').tooltipster({ theme: 'tooltipster-borderless', maxWidth: 300, distance: 0, animationDuration: 200, animation: 'grow'});
                    } else {
                        $("#last").html(tmpl('tmpl-last-saved', {'participants': _data.no_students }));
                        showState(1);
                    }
                }).fail(function() {
                    showState(2);
                });
            };

        $("#graphs").on("click","#state a", function(event) {
            event.preventDefault();
            init();
        });

        init();
    });
    </script>
    {{ source('tmpl.html', ignore_missing = true) }}
{% endif %}
{% endblock %}
